## Simple Web scrapping using BeautifulSoup
### Name: Bernard Evan Kanigara

### Import Library

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [24]:
from re import sub
from decimal import Decimal

### Request data from web

In [2]:
baseurl = "https://www.rodalink.com/id/"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36'}

In [3]:
url="https://www.rodalink.com/id/sepeda/sepeda-gunung.html?p="

In [6]:
req=requests.get(url,headers=headers)
print(req)

<Response [200]>

In [16]:
soup=BeautifulSoup(req.text,"html.parser")
items=soup.findAll('div','product details product-item-details')
for it in items:
    name=''.join(it.find('strong','product name product-item-name').text.strip().split('\n'))
    print(name)
    price=''.join(it.find('span','price-container price-final_price tax weee').text.strip().split('\n'))
    print(price)

Polygon Sepeda Mountain Bike Junior Relic 20
Rp 2.525.000
Polygon Sepeda MTB Cascade 2
Rp 2.800.000
Polygon Sepeda MTB Cascade 2 2020
Rp 2.800.000
Polygon Sepeda Mountain Bike Junior Relic 24
Rp 2.900.000
Polygon Sepeda MTB Cascade 3
Rp 3.150.000
Polygon Sepeda MTB Cascade 3 2020
Rp 3.150.000
Polygon Sepeda MTB Cascade 4
Rp 3.550.000
Polygon Sepeda MTB Cascade 4 2020
Rp 3.550.000
Polygon Sepeda Rayz 1
Rp 4.000.000
Polygon Sepeda Gunung Premier 4 2020
Rp 4.200.000
Polygon Sepeda Gunung Premier 4
Rp 4.300.000
Polygon Sepeda Cleo 2
Rp 4.300.000
Polygon Sepeda Gunung Premier 5 2020
Rp 4.850.000
Polygon Sepeda Gunung Premier 5
Rp 4.950.000
Marin Sepeda MTB Bobcat Trail 4 2018
Rp 5.980.000
Polygon Sepeda Rayz 3
Rp 6.100.000
Marin Sepeda Gunung Bobcat Trail 3
Rp 6.200.000
Polygon Sepeda MTB Xtrada 5 2020
Rp 6.250.000
Polygon Sepeda MTB Xtrada 5
Rp 6.400.000
Polygon Sepeda Cozmic DXP 2013
Rp 7.100.000
Polygon Sepeda Cleo 5 2013
Rp 7.345.000
Polygon Sepeda MTB Xtrada 6 2x11 Speed 2020
Rp 7.500.000
Polygon Sepeda MTB Xtrada 6 1x11 Speed 2020
Rp 7.500.000
Marin Sepeda MTB Bobcat Trail 4 2020
Rp 7.500.000

In [48]:
data=[]
for page in range(1,4):
    req=requests.get(url+str(page),headers=headers)
    soup=BeautifulSoup(req.text,"html.parser")
    items=soup.findAll('div','product details product-item-details')
    for it in items:
        name=''.join(it.find('strong','product name product-item-name').text.strip().split('\n'))
        price=''.join(it.find('span','price-container price-final_price tax weee').text.strip().split('\n'))
        data.append([name,price])

In [49]:
data

[['Polygon Sepeda Mountain Bike Junior Relic 20', 'Rp 2.525.000'],
 ['Polygon Sepeda MTB Cascade 2', 'Rp 2.800.000'],
 ['Polygon Sepeda MTB Cascade 2 2020', 'Rp 2.800.000'],
 ['Polygon Sepeda Mountain Bike Junior Relic 24', 'Rp 2.900.000'],
 ['Polygon Sepeda MTB Cascade 3', 'Rp 3.150.000'],
 ['Polygon Sepeda MTB Cascade 3 2020', 'Rp 3.150.000'],
 ['Polygon Sepeda MTB Cascade 4', 'Rp 3.550.000'],
 ['Polygon Sepeda MTB Cascade 4 2020', 'Rp 3.550.000'],
 ['Polygon Sepeda Rayz 1', 'Rp 4.000.000'],
 ['Polygon Sepeda Gunung Premier 4 2020', 'Rp 4.200.000'],
 ['Polygon Sepeda Gunung Premier 4', 'Rp 4.300.000'],
 ['Polygon Sepeda Cleo 2', 'Rp 4.300.000'],
 ['Polygon Sepeda Gunung Premier 5 2020', 'Rp 4.850.000'],
 ['Polygon Sepeda Gunung Premier 5', 'Rp 4.950.000'],
 ['Marin Sepeda MTB Bobcat Trail 4 2018', 'Rp 5.980.000'],
 ['Polygon Sepeda Rayz 3', 'Rp 6.100.000'],
 ['Marin Sepeda Gunung Bobcat Trail 3', 'Rp 6.200.000'],
 ['Polygon Sepeda MTB Xtrada 5 2020', 'Rp 6.250.000'],
 ['Polygon Sepeda MTB Xtrada 5', 'Rp 6.400.000'],
 ['Polygon Sepeda Cozmic DXP 2013', 'Rp 7.100.000'],
 ['Polygon Sepeda Cleo 5 2013', 'Rp 7.345.000'],
 ['Polygon Sepeda MTB Xtrada 6 2x11 Speed 2020', 'Rp 7.500.000'],
 ['Polygon Sepeda MTB Xtrada 6 1x11 Speed 2020', 'Rp 7.500.000'],
 ['Marin Sepeda MTB Bobcat Trail 4 2020', 'Rp 7.500.000'],
 ['Polygon Sepeda MTB Xtrada 6', 'Rp 7.650.000'],
 ['Polygon Sepeda Trid CR', 'Rp 8.250.000'],
 ['Polygon Sepeda Trid CR 2016', 'Rp 8.250.000'],
 ['Polygon Sepeda MTB Xtrada 7 2018', 'Rp 9.500.000'],
 ['Polygon Sepeda Dual Suspension Siskiu D5', 'Rp 9.750.000'],
 ['Polygon Sepeda Dual Suspension Siskiu D5 2020', 'Rp 9.750.000'],
 ['Polygon Sepeda Trid 2016', 'Rp 9.750.000'],
 ['Polygon Sepeda Trid 2018', 'Rp 10.100.000'],
 ['Polygon Sepeda MTB Xtrada 7 2020', 'Rp 10.200.000'],
 ['Polygon Sepeda MTB Xtrada 7', 'Rp 10.400.000'],
 ['Marin Sepeda MTB Bobcat Trail 5 2020', 'Rp 11.000.000'],
 ['Polygon Sepeda Trid', 'Rp 11.200.000'],
 ['Ex Demo Bike 99% - Polygon Sepeda Collosus SX1 Dual Suspension',
  'Rp 13.200.000'],
 ['Polygon Sepeda MTB Syncline C2 2020', 'Rp 13.350.000'],
 ['Polygon Sepeda Dual Suspension Siskiu D6', 'Rp 14.250.000'],
 ['Marin Sepeda Pine Mountain 1 29er', 'Rp 15.000.000'],
 ['Polygon Sepeda MTB Syncline C3', 'Rp 16.500.000'],
 ['Polygon Sepeda MTB Syncline C3 2020', 'Rp 16.500.000'],
 ['Polygon Sepeda Dual Suspension Siskiu D7 2020', 'Rp 17.200.000'],
 ['Polygon Sepeda Entiat TR8', 'Rp 17.400.000'],
 ['Polygon Sepeda Dual Suspension Siskiu D7', 'Rp 17.500.000'],
 ['Marin Sepeda Dual Suspension Hawk Hill 1', 'Rp 18.480.000'],
 ['Polygon Sepeda Dirt Jump Trid ZZ 2017', 'Rp 19.900.000'],
 ['Polygon Sepeda MTB Syncline C5', 'Rp 21.000.000'],
 ['Polygon Sepeda MTB Syncline C5 2020', 'Rp 21.000.000'],
 ['Marin Sepeda Dual Suspension Rift Zone 1', 'Rp 22.000.000'],
 ['Polygon Sepeda Dual Suspension Siskiu T7', 'Rp 24.000.000'],
 ['Polygon Sepeda Dirt Jump Trid ZZ', 'Rp 24.000.000'],
 ['Polygon Sepeda Dual Suspension Siskiu T8 2018', 'Rp 27.500.000'],
 ['Polygon Sepeda Collosus DFR', 'Rp 29.500.000'],
 ['Polygon Sepeda Dual Suspension Siskiu T8', 'Rp 31.000.000'],
 ['Polygon Sepeda Collosus DH2 Short 2015', 'Rp 32.000.000'],
 ['Marin Sepeda Hawk Hill 3 2020', 'Rp 34.380.000'],
 ['Marin Sepeda Pine Mountain 2', 'Rp 39.000.000'],
 ['Polygon Sepeda Dual Suspension Siskiu N9', 'Rp 40.500.000'],
 ['Polygon Sepeda Collosus DH8', 'Rp 42.000.000'],
 ['Marin Sepeda Elektrik Nail Trail E1', 'Rp 45.980.000'],
 ['Marin Sepeda Alpine Trail 8', 'Rp 47.980.000'],
 ['Polygon Sepeda Cozmic RXX 2013', 'Rp 48.500.000'],
 ['Ex Demo Bike 99% - Polygon Sepeda Collosus N9 XX1 Dual Suspension',
  'Rp 51.200.000'],
 ['Polygon Sepeda Collosus DHX', 'Rp 55.000.000'],
 ['Marin Sepeda Elektrik Pine Mountain E2', 'Rp 59.000.000'],
 ['Polygon Sepeda Xquarone EX8', 'Rp 73.000.000'],
 ['Polygon Sepeda XQUARONE EX8 2017', 'Rp 82.000.000'],
 ['Polygon Sepeda Xquarone EX9', 'Rp 93.000.000'],
 ['Polygon Sepeda Collosus DH9 Team Edition', 'Rp 100.000.000'],
 ['Polygon Sepeda XQUARONE EX9 2017', 'Rp 102.000.000']]

In [50]:
header_df=['Name','Price']

In [51]:
df = pd.DataFrame(data, columns =['Name', 'Price'])
df

                                            Name           Price
0   Polygon Sepeda Mountain Bike Junior Relic 20    Rp 2.525.000
1                   Polygon Sepeda MTB Cascade 2    Rp 2.800.000
2              Polygon Sepeda MTB Cascade 2 2020    Rp 2.800.000
3   Polygon Sepeda Mountain Bike Junior Relic 24    Rp 2.900.000
4                   Polygon Sepeda MTB Cascade 3    Rp 3.150.000
..                                           ...             ...
66                   Polygon Sepeda Xquarone EX8   Rp 73.000.000
67              Polygon Sepeda XQUARONE EX8 2017   Rp 82.000.000
68                   Polygon Sepeda Xquarone EX9   Rp 93.000.000
69      Polygon Sepeda Collosus DH9 Team Edition  Rp 100.000.000
70              Polygon Sepeda XQUARONE EX9 2017  Rp 102.000.000

[71 rows x 2 columns]

### Data Cleaning

In [53]:
df['Price'] = df['Price'].str.replace(r'\D', '').astype(int)
df

C:\Users\ASUS\AppData\Local\Temp/ipykernel_20424/2205158079.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'\D', '').astype(int)

                                            Name      Price
0   Polygon Sepeda Mountain Bike Junior Relic 20    2525000
1                   Polygon Sepeda MTB Cascade 2    2800000
2              Polygon Sepeda MTB Cascade 2 2020    2800000
3   Polygon Sepeda Mountain Bike Junior Relic 24    2900000
4                   Polygon Sepeda MTB Cascade 3    3150000
..                                           ...        ...
66                   Polygon Sepeda Xquarone EX8   73000000
67              Polygon Sepeda XQUARONE EX8 2017   82000000
68                   Polygon Sepeda Xquarone EX9   93000000
69      Polygon Sepeda Collosus DH9 Team Edition  100000000
70              Polygon Sepeda XQUARONE EX9 2017  102000000

[71 rows x 2 columns]

### Write as csv

In [54]:
df.to_csv('harga_sepeda.csv')